/* Styles pour la barre de filtrage */
.filter-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  
  .filter-bar form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .filter-bar label {
    margin-right: 15px;
    font-weight: bold;
  }
  
  .filter-bar input[type="text"],
  .filter-bar input[type="number"] {
    padding: 5px;
    margin-right: 10px;
  }
  
  /* Styles pour les éléments "filter-item" */
  .filter-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }
  
  .filter-item label {
    margin-right: 5px;
    font-weight: bold;
  }
  
  .filter-item select {
    margin-right: 5px;
  }
  
  .filter-item input[type="number"] {
    padding: 5px;
  }
  
  .filter-item span {
    margin-left: 5px;
  }
  
  /* Styles pour les options de tri */
  .sorting-options {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .sorting-options label {
    margin-right: 15px;
  }
  
  .sorting-options input[type="radio"] {
    margin-right: 5px;
  }
  
  /* Réorganiser les éléments pour les options de tri sous les premiers filtres */
  @media screen and (max-width: 600px) {
    .filter-bar form {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .sorting-options {
      margin-left: 10px;
    }
  }